.HistoryStyled {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.history-item {
    background-color: white;
    border: 1px solid #e0e0e0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}